<!--遠藤-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書登録</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>蔵書登録</h1>
	<br>
	<a href="/host/select" class="btn-sticky">ホームへ</a>
	<hr>
	<br>
	<div>[[${error}]]</div>
	<form action="/host/add/book/done" method="post">
		<table border="1" class="c-commonTable2">
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title" maxlength="100"><br>
				</td>
			</tr>
			<tr>
				<th>著者名</th>
				<td>
					<input type="text" name="author" maxlength="100"><br>
				</td>
			</tr>

		</table>
		<br>
		<button class="btn-sticky">登録</button>
	</form>

	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>



</body>

</html>