<!--endou-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書登録完了</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>蔵書登録完了</h1>
	<br>
	<hr>
	<br>
	<table border="1" class="c-commonTable2">
		<tr>
			<th>タイトル</th>
			<td>[[${title}]]</td>
		</tr>
		<tr>
			<th>著者名</th>
			<td>[[${author}]]</td>
		</tr>

	</table>

	<br>

	<a href="/host/select" class="btn-sticky">ホームへ</a>

	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</body>

</html>