<!--endo-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>貸出・返却選択</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body style="text-align: center;">
	<ol class="breadcrumb-001">
		<li>
			<a href="/host/select">
				<span>ホーム</span>
			</a>
		</li>
		<li>
			<a href="/host/rental">
				<span>本ID/利用者ID選択</span>
			</a>
		</li>

	</ol>

	<h1>貸出・返却選択</h1>
	<br>
	
	<hr>
	<br>

	<div>[[${error}]]</div>

	<form action="/host/rental/process" style="text-align: center;">
		<table border="1" class="c-commonTable2">
			<tr>
				<th>タイトル</th>
				<td>[[${session.book.title}]]</td>
			</tr>
			<tr>
				<th>名前</th>
				<td>[[${session.name}]]</td>
			</tr>
		</table>

		<fieldset class="radio-2">

			<label>
				<input type="radio" name="rental" value="1" checked>貸出
			</label>

		</fieldset>

		<fieldset class="radio-2">
			<label>
				<input type="radio" name="rental" value="0">返却
			</label>
		</fieldset>
		
		<br>
		<button class="btn-sticky">決定</button>
	</form>

	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</body>

</html>