<!--endo-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>貸出期限選択</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>

	<ol class="breadcrumb-001">
		<li>
			<a href="/host/select">
				<span>ホーム</span>
			</a>
		</li>
		<li>
			<a href="/host/rentallook">
				<span>本ID/利用者ID選択</span>
			</a>
		</li>

	</ol>
	<h1>貸出期限選択</h1>
	<br>
	<hr>
	<br>

	<div>[[${error}]]</div>

	<form action="/host/look/done" method="post">
		<table border="1" class="c-commonTable2">
			<tr>
				<th>タイトル</th>
				<td>[[${session.book.title}]]</td>
			</tr>
			<tr>
				<th>名前</th>
				<td>[[${session.name}]]</td>
			</tr>
		</table>
		<input type="date" name="date">
		<button class="btn-sticky">決定</button>
	</form>

	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</body>

</html>