<!--endo-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	
		<h1>ホーム</h1>
		<br>

	<!--HostAccountController-->
	

	
	<!--HostController-->
<br>


    <a href="/host/add/form" class="btn-stick">アカウント作成</a>
	<a href="/show" class="btn-stick">蔵書一覧</a>
	<a href="/search" class="btn-stick">貸出状況</a>
	<a href="/host/rental" class="btn-stick">貸出・返却</a>
	<a href="/host/rentallook" class="btn-stick">貸出期限延長</a>
	<a href="/host/add/book" class="btn-stick">蔵書登録</a>
	<a href="/host/rental/how" class="btn-stick">貸出中図書</a><br><br><br>
	
	<hr>
	<br>
	
	<a href="/host/logout" class="btn-sticky">ログアウト</a>
	
	

	<ul class="leaf">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
	</ul>
	<p><img src="/pyoko_button_home.png" alt="図書館" id="lib">
	
	

</body>

</html>