<!--おがわ-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書一覧</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<th:block th:if="${@hostAccount.id}">
	<ol class="breadcrumb-001">
		<li>
			<a href="/host/select">
				<span>ホーム</span>
			</a>
		</li>
	</ol>
	</th:block>
	<h1>蔵書一覧</h1>
	<br>

	<th:block th:if="${@userAccount.id}">
		<b class="search">[[${@userAccount.name}]]さんこんにちは^^</b>
		<a href="/search" class="btn-stick">貸出状況</a>
		<a href="/user/index" class="btn-stick">ログアウト</a>
	</th:block>
	<br>
	<br>
		<form action="/show" method="post">
		<b class="search">タイトル：</b>
		<input type="text" name="title" th:value="${title}" placeholder="タイトル">　
	
		<b class="search">著者名：</b>
		<input type="text" name="author" th:value="${author}" placeholder="著者名">　

		<button class="btn-stick">検索</button>
	</form>

	<hr>
	<br>




	<div class="table_box">
		<table border="1">
			<tr>
				<th class="sticky_cross">本ID</th>
				<th class="sticky_cross">タイトル</th>
				<th class="sticky_cross">著者名</th>
			</tr>
			<tr th:each="book:${books}">
				<td>[[${book.id}]]</td>
				<td>[[${book.title}]]</td>
				<td>[[${book.author}]]</td>
			</tr>


		</table>
	</div>

	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</body>

</html>