<!--作成者：菊水-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>利用者ログイン</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>利用者ログイン</h1>
	<br>
	さぁ、あなたの借りたい本があるのか、借りることが出来るのか確かめてみましょう！
	<br>
	<hr>
	<br>

	<div th:text="${error}" style="color: red"></div>

	<form action="/user/login" method="post">
		<!--UserAccountControllerへ -->
		<table border="1" class="c-commonTable2">
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" maxlength="32">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" maxlength="16">
				</td>
			</tr>

		</table>
		<br>
		<button class="btn-sticky">ログイン</button>
	</form>
	<br>
	<a href="/user/add/form" id="new1">新規利用者登録</a>

	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		
	</ul>
	<p><img src="/toshokan_benkyou.png" alt="図書館" id="lib">
	</p>
	
	<script>
		let login =document.querySelector(".btn-sticky");
		let new1 =document.querySelector("#new1");
		let lib =document.querySelector("#lib");
		
		function changeImg(filmename){
			lib.src = filmename;
		}
		
		login.addEventListener("mouseover",function(){changeImg("/school_toshokan_hondana.png");});
		login.addEventListener("mouseout",function(){changeImg("/toshokan_benkyou.png");});
		new1.addEventListener("mouseover",function(){changeImg("/green_card_eijuken.png");});
		new1.addEventListener("mouseout",function(){changeImg("/toshokan_benkyou.png");});
	</script>
</body>

</html>